#countdown {
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
	font-size: 13px;
}
#countdown li {
	display: inline-block;
	margin-right: 5px;
}
.timenumbers {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.timedescription {
	margin: 0 auto;
	text-align: center;
	position: relative;
}